.body {
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #1F2937;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    background-color: #1F2937;
    color: #FFFFFF;
    display: flex;
    font-size: 25px;
    padding: 10px;
}
.header-link {
    font-style:normal;
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    justify-content: space-between;
}
.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 50px;
}
.line .image {
    display: flex;
    flex: 1;
}
.line {
    flex: 1;
    padding: 100px;      
}
.this-website-is-awesome {
    color: #ffffff;
    font-weight: bold;
    background-color: #1F2937;
}
.this-website-has-some-subtext {
    color: #E5E7EB;
    background-color: #1F2937;
}
.sign-up {
    background-color: #2563EB;
    color: #E5E7EB;
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: #1F2937 solid 2px;
}
.image {
    max-width: 400px;
    width: auto;
    height: 250px;
    background-color: #1F2937;
}
.some-random-information {
    background-color: #ffffff;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}
.imagea {
    max-width: 80px;
    width: auto;
    height: 75px;
    background-color: #1F2937;}
.imageb {
    max-width: 80px;
    width: auto;
    height: 75px;
    background-color: #1F2937;
}
.imagec {
    max-width: 80px;
    width: auto;
    height: 75px;
    background-color: #1F2937;
}
.imaged {
    max-width: 80px;
    width: auto;
    height: 75px;
    background-color: #1F2937;
}
.points {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.quote {
    background-color: #E5E7EB;
    padding: 20px;
}
.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    align-items: center;
    font-weight: normal;
}
.quote-author {
    color: #374151;
    font-weight: bold;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;

}
.call-to-action {
    width: 600px;
    height: 150px;
    background-color: #3882F6;
    color: #ffffff;
    padding: 15px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 0px auto; /* Center horizontally and add vertical spacing */
    border: 430px solid #E5E7EB;
}
.call-to-action-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.call-to-action-text {
    color: #ffffff;
    font-weight: bold;
}
.call-to-action-subtext {
    color: #e0dddd;
    font-weight: normal;
    margin-bottom: 10px;
}
.call-to-action-button {
    background-color: #3882F6;
    color: #FFFFFF;
    padding: 7px 30px;
    border-radius: 5px;
    text-decoration: none;
    border: #ffffff solid 2px;
    font-weight: bold;
}
.copyright {
    color: #FFFFFF;
    text-align: center;
    background-color: #1F2937;
    font-weight: normal;
}
